
<div ng-controller="PlayerInfoController" id="PlayerInfoController">

	<div class="row">

		<div class="col-lg-12">

			<h2 class="center">
				Player: {{getUsername()}}
				<div class="btn-group pull-right">
					<button ng-click="refresh()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-refresh"></i></button>
				</div>
			</h2>

			<div class="btn-group btn-group-lg btn-group-justified">
				<div class="btn-group">
					<a href="http://www.steamcommunity.com/profiles/{{userid}}" target="_blank" class="btn btn-default">
						<span class="glyphicon glyphicon-info-sign"></span>
						Steam Profile
					</a>
				</div>
			</div>

		</div>

		<div class="col-lg-12">
			<h2 class="center">
				Info
			</h2>

			<div class="alert alert-warning" ng-show="!info">
				This Player is currently not connected to this server!
			</div>
		</div>

		<div class="col-sm-4" ng-repeat="(key, value) in info">
			<p>{{key}}: <span class="badge">{{value}}</span></p>
		</div>
	</div>

</div>