<div ng-controller="ServerSettingsController" id="ServerSettingsController">

	<div class="row">
		<h2>
			Server Settings
		</h2>
		<div class="col-xs-6">
			<input ng-model="ServerFilterText" class="form-control" placeholder="Filter..">
		</div>
		<div class="col-xs-6">
			<button ng-click="Refresh()" class="btn btn-default pull-right" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Option Name</th>
							<th class="text-right">Option Value</th>
						</tr>
					</thead>
					<tr ng-repeat="line in Server | filter:ServerFilterText">

						<td>
							{{line.name}}
						</td>

						<td style="text-align: right">
							<input id="OptionServer{{line.name}}" class="form-control" value="{{line.value}}">
						</td>

						<md-divider></md-divider>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<h2>
			Radio Settings
		</h2>
		<div class="col-xs-6">
			<input ng-model="RadioFilterText" class="form-control" placeholder="Filter..">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Option Name</th>
							<th class="text-right">Option Value</th>
						</tr>
					</thead>
					<tr ng-repeat="line in Radio | filter:RadioFilterText">

						<td>
							{{line.name}}
						</td>

						<td style="text-align: right">
							<input id="OptionRadio{{line.name}}" class="form-control" value="{{line.value}}">
						</td>

						<md-divider></md-divider>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<div class="row">
		<h2>
			Access Settings
		</h2>
		<div class="col-xs-6">
			<input ng-model="AccessFilterText" class="form-control" placeholder="Filter..">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Option Name</th>
							<th class="text-right">Option Value</th>
						</tr>
					</thead>
					<tr ng-repeat="line in Access | filter:AccessFilterText">

						<td>
							{{line.name}}
						</td>

						<td style="text-align: right">
							<input id="OptionAccess{{line.name}}" class="form-control" value="{{line.value}}">
						</td>

						<md-divider></md-divider>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<button ng-click="Save()" class="btn btn-success" type="button"><span class="glyphicon glyphicon-floppy-disk"></span>
				Save settings</button>
		</div>
	</div>


</div>